#animation {
  left: 0;
  position: relative;
  transition: left 1s ease;
}
.spooky { 
  position: absolute;
  top: 10em;
  left: 42%;
  margin: 0 auto;
  animation: float 3s ease-out infinite;
  transition: left 1s ease;

  .eye {
    width: 3em;
    height: 3.5em;
    position: absolute;
    z-index: 2;
    top: 6em;
    border-radius: 50%;
    background-color: black;

    &.left {
      left: 5.5em;
    }

    &.right {
      left: 10.5em;
    }

    .iris {
      width: 1.5em;
      height: 1.5em;
      border-radius: 100%;
      background-color: white;

      // Tryout to let the eyes move with the mouse, but won't work
      // @mixin positionEyes($side) {
      //   @if $side == leftside {
      //     background-color: red;
      //   }
      // }

      .shine {
        width: .5em;
        height: .5em;
        position: relative;
        z-index: 3;
        top: 1.5em;
        left: 1.5em;
        border-radius: 100%;
        background-color: white;
      }
    }
  }
  .mouth {
    height: 2em;
    position: relative;
    z-index: 3;
    top: 10em;
    left: 8em;
  }
}

@keyframes float {
  50% {
     transform: translate(0, 20px);
  }
}

@keyframes shrink {
  0% {
    width: 90%;
    margin: 0 5%;
  }
  50% {
    width: 60%;
    margin: 0 18%;
  }
  100% {
    width: 90%;
    margin: 0 5%;
  }
}

.shadow {
  width: 14em;
  height: 3em;
  position: absolute;
  top: 40em;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, .4);
  animation: shrink 3s ease-out infinite;
  // transform-origin: center center;
}

@keyframes shrink {
  0% {
    width: 14em;
    left: 44.8%;
  }
  50% {
    width: 10em;
    left: 46.8%;
  }
  100% {
    width: 14em;
    left: 44.8%;
  }
}

