#animation
  .spooky
    .head
      .eyes
        .eye.left
          .iris
            .shine
        .eye.right
          .iris
            .shine
    %svg.mouth{:height => "37px", :version => "1.1", :viewBox => "0 0 60 37", :width => "60px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:sketch" => "http://www.bohemiancoding.com/sketch/ns", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
      %g#Page-1{:fill => "none", "fill-rule" => "evenodd", "sketch:type" => "MSPage", :stroke => "none", "stroke-width" => "1"}
        %g#iPhone-6-Plus{:fill => "#000000", "sketch:type" => "MSArtboardGroup"}
          %path#Path-2{:d => "M8,11 C1.93998886,14.8596834 12.8456817,26.5673523 29.9705564,26.5673523 C47.095431,26.5673523 53,11.899663 53,11.899663 C53,11.899663 14.0600111,7.14031663 8,11 Z", "sketch:type" => "MSShapeGroup"}
  .shadow
