body {
  background-color: #036;
  // color: cl("blue");
	padding: 0;
  padding-bottom: 30em;
	margin: 0;
}

.leftside {
  width: 50%;
  height: 10em;
  float: left;
  // background-color: red;
}
.rightside {
  width: 50%;
  height: 10em;
  float: left;
  // background-color: blue;
}
