body {
  background-color: #036;
	padding: 0;
  padding-bottom: 30em;
	margin: 0;
}

.leftside {
  width: 30%;
  height: 50em;
  float: left;

  &:hover {
    // @include positionEyes(leftside);
    ~ #animation {
      left: -10%;
    }

    ~ .spooky {
      left: 32%;
    }
  }
}
.rightside {
  width: 30%;
  height: 50em;
  float: right;

  &:hover {
    // @include positionEyes(rightside);
    ~ #animation {
      left: 10%;
    }

    ~ .spooky {
      left: 52%;
    }
  }
}
