// *******************************************************************************
// * Basics
// *******************************************************************************

body {
	// font-family: Helvetica, Arial, sans-serif;
	font-family: "Gotham SSm 7r", "Gotham SSm A", "Gotham SSm B", "Gotham A", "Gotham B", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: em(16px);
	font-weight: 400;
	line-height: 1.3em;
}

// *******************************************************************************
// * Titles
// *******************************************************************************

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Gotham A", "Gotham B", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.3em;
	margin: 0 0 .5em;

	+ .subheader {
		margin-top: -.5em;
	}
}

.light {
  font-weight: 400;
}

// *******************************************************************************
// * Content
// *******************************************************************************
p {
  margin: 0;
  padding: 1em 0;
}

p, .definition {
  line-height: 1.5em;
}

.title {
  text-align: center;
  text-decoration: none;
}

.intro {
  text-align: center;
	line-height: 1.8em;
}

input {
    font-size: 1.2em;
    font-family: "Gotham SSm 7r", "Gotham SSm A", "Gotham SSm B", sans-serif;
    font-weight: 700;
}

// .h1, h1 {@include font-scaling(1.5em, 2em);}
// .h2, h2 {@include font-scaling(1.3em, 1.5em);}
// .h3, h3 {@include font-scaling(1.2em, 1.33em);}
// .h4, h4 {@include font-scaling(1.1em, 1.17em);}

ul {
	padding-left: 1em;
	margin: 0;
}

.subheader { font-weight: 400; }
